


<div class="col-md-12">
    <ig-layout-manager widgetId="layout" [(options)]="layoutOptions">   
        <div class="left"> 
            <h3>LEFT AREA</h3>
        </div>
        <div class="right">
            <h3>RIGHT AREA</h3>
             <div id="text-editor-control">
                <label>Input</label>
                <br/>
                <ig-text-editor id="text-editor" dnd-draggable [dragEnabled]="true" [dragData] ="'text-editor'"></ig-text-editor>
            </div>
            <div id="date-picker-control">
                <label>Date picker</label>
                <br/>
                <ig-date-picker id="date-picker" dnd-draggable [dragEnabled]="true" [dragData] ="'date-picker'"></ig-date-picker>
            </div> 
            <!-- <div dnd-sortable-container [sortableData]="">
                <div id="text-editor-control" dnd-sortable>
                    <label>Input</label>
                    <br/>
                    <ig-text-editor id="text-editor" dnd-draggable [dragEnabled]="true" [dragData] ="'text-editor'"></ig-text-editor>
                </div>
                <div id="date-picker-control" dnd-sortable>
                    <label>Date picker</label>
                    <br/>
                    <ig-date-picker id="date-picker" dnd-draggable [dragEnabled]="true" [dragData] ="'date-picker'"></ig-date-picker>
                </div>
            </div>   -->
        </div>
        <div class="header">HEADER - some text here</div>
        <div class="footer">FOOTER - some text here </div>
        <div class="center" id="drop">
            <h3>CENTER AREA</h3>
            <div dnd-droppable (onDropSuccess)="loadComponent($event)" >Drop here</div> 

        </div>
    </ig-layout-manager>
</div>